<div class="card">
  <div class="card-body">
    <div class="macc-widget-title">MACC HPC Quick Links</div>

    <div class="macc-quick-links">
      <a href="/pun/sys/files/fs/home/<%= ENV['USER'] %>">
        Home Directory
      </a>

      <a href="/pun/sys/shell/ssh/macc-hpc">
        Open Shell on MACC HPC
      </a>

      <a href="/pun/sys/dashboard/batch_connect/sessions">
        My Interactive Sessions
      </a>

      <a href="/pun/sys/myjobs">
        Job Composer
      </a>

      <a href="mailto:twray611@gmail.com">
        Contact Support
      </a>
    </div>
  </div>
</div>
